{% extends 'common/base.html' %}

{% load staticfiles %}

{% block title %}
	<title>花匠铺-用户注册</title>
{% endblock %}

{% block body %}
	<!-- Page Wrapper -->
	<div id="page-wrapper">

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Panel -->
			<section class="panel color2-alt">
				<div class="intro color2">
					<h2 class="major">注册</h2>
					<p>感谢您对花匠铺的
						<br> 信任
					</p>
				</div>
				<div class="inner columns aligned">
					<div class="span-4-5">
						<h3 class="major">请填写您的个人信息</h3>
						<form method="post" action="{% url 'users:register_handle' %}">
							<div class="field half">
								<label for="u_name">姓名</label>
								<input type="text" name="u_name" id="u_name" placeholder="5-20个字符" />
							</div>
							<div class="field half">
								<label for="u_phone">手机号</label>
								<input type="text" name="u_phone" id="u_phone" placeholder="11个数字" />
							</div>

							<div class="field half">
								<label for="u_pass">请输入密码</label>
								<input type="text" name="u_pass" id="u_pass" placeholder="8-20个字符" />
							</div>
							<div class="field half">
								<label for="u_repass">请再次输入密码</label>
								<input type="text" name="u_repass" id="u_repass" placeholder="8-20个字符" />
							</div>

							<div class="field quarter">
								<input type="checkbox" id="user_protocol" name="user_protocol" class="color2" checked />
								<label for="user_protocol">同意用户协议</label>
							</div>
							<div class="field quarter">
									<a href="#">用户协议</a>
							</div>
							<ul class="actions field">
								<li>
									<input type="submit" value="提交" class="special color2" />
								</li>
							</ul>
						</form>
					</div>
				</div>
			</section>

			<!-- Copyright -->
			<div class="copyright">&copy; 安徽省黄山市歙县:
				<a href="https://html5up.net">花匠铺</a>.</div>
		</div>
	</div>

{% endblock body %}