{% extends 'common/base.html' %}

{% load staticfiles %}

{% block title %}
	<title>花匠铺-个人主页</title>
{% endblock title %}

{% block body %}
	<!-- Page Wrapper -->
	<div id="page-wrapper">

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Panel (Banner) -->
			<section class="panel banner right">
				<div class="content color0 span-2-75">
					<h1 class="major">欢迎回来！
						<br /> 张三丰
					</h1>
					<p>今天你的幸运花是
						<strong>紫罗兰</strong>,代表永恒的美丽
						<br>
						<a href="#" target="_blank" title="查看订单">查看订单</a>
						<br>
						<a href="#" target="_blank" title="修改地址">修改地址</a>
					</p>
				</div>
				<div class="image filtered span-2-75" data-position="25% 25%">
					<img src="images/user.jpg" alt="" />
				</div>
			</section>

			<!-- Panel -->
			<section class="panel color2-alt">
				<div class="intro color1">
					<h2 class="major">订单 》》</h2>
					<p>
						《迎春花》
						<br> 好一朵迎春花人人都爱它
						<br> 好一朵迎春花迎来大地放光华 </p>
				</div>
				<div class="inner columns aligned">
					<div class="span-3">
						<h3 class="major">订单号：193849384</h3>
						<h4>2017/2/1 12:30:41</h4>
						<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>名称</th>
										<th>数量</th>
										<th>单价</th>
										<th>总价</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>木兰花</td>
										<td>4</td>
										<td>1.99</td>
										<td>7.96</td>
									</tr>
									<tr>
										<td>大叶兰</td>
										<td>2</td>
										<td>3.99</td>
										<td>7.98</td>
									</tr>
									<tr>
										<td>玫瑰</td>
										<td>1</td>
										<td>9.99</td>
										<td>9.99</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="3">
											<a href="#" class="button">现在去支付</a>
										</td>
										<td>25.93</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</section>

			<!-- Panel -->
			<section class="panel color1-alt">
				<div class="inner columns aligned">
					<div class="span-3">
						<h3 class="major">订单号：193849384</h3>
						<h4>2017/2/1 12:30:41</h4>
						<div class="table-wrapper">
							<table>
								<thead>
									<tr>
										<th>名称</th>
										<th>数量</th>
										<th>单价</th>
										<th>总价</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>木兰花</td>
										<td>4</td>
										<td>1.99</td>
										<td>7.96</td>
									</tr>
									<tr>
										<td>大叶兰</td>
										<td>2</td>
										<td>3.99</td>
										<td>7.98</td>
									</tr>
									<tr>
										<td>玫瑰</td>
										<td>1</td>
										<td>9.99</td>
										<td>9.99</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="3">
											<a href="#" class="button">现在去支付</a>
										</td>
										<td>25.93</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</section>Í

			<!-- Panel -->
			<section class="panel">
				<div class="intro color2">
					<h2 class="major">人气商品</h2>
					<p> 看不清楚前面的道路，挽留不住岁月的脚步，还好有你的呵护，能听我把苦乐倾诉。感谢你，我的朋友，真心愿你好运一路，快乐常驻，把幸福一直留住。</p>
				</div>
				<div class="gallery">
					<div class="group span-3">
						<a href="images/gallery/fulls/01.jpg" class="image filtered span-3" data-position="bottom">
							<img src="images/gallery/thumbs/01.jpg" alt="" />
						</a>
						<a href="images/gallery/fulls/02.jpg" class="image filtered span-1-5" data-position="center">
							<img src="images/gallery/thumbs/02.jpg" alt="" />
						</a>
						<a href="images/gallery/fulls/03.jpg" class="image filtered span-1-5" data-position="bottom">
							<img src="images/gallery/thumbs/03.jpg" alt="" />
						</a>
					</div>
					<a href="images/gallery/fulls/04.jpg" class="image filtered span-2-5" data-position="top">
						<img src="images/gallery/thumbs/04.jpg" alt="" />
					</a>
					<div class="group span-4-5">
						<a href="images/gallery/fulls/05.jpg" class="image filtered span-3" data-position="top">
							<img src="images/gallery/thumbs/05.jpg" alt="" />
						</a>
						<a href="images/gallery/fulls/06.jpg" class="image filtered span-1-5" data-position="center">
							<img src="images/gallery/thumbs/06.jpg" alt="" />
						</a>
						<a href="images/gallery/fulls/07.jpg" class="image filtered span-1-5" data-position="bottom">
							<img src="images/gallery/thumbs/07.jpg" alt="" />
						</a>
						<a href="images/gallery/fulls/08.jpg" class="image filtered span-3" data-position="top">
							<img src="images/gallery/thumbs/08.jpg" alt="" />
						</a>
					</div>
					<a href="images/gallery/fulls/09.jpg" class="image filtered span-2-5" data-position="right">
						<img src="images/gallery/thumbs/09.jpg" alt="" />
					</a>
				</div>
			</section>

			<div class="copyrights">Collect from
				<a href="http://www.cssmoban.com/">手机网站模板</a>
			</div>

			<!-- Panel -->
			<section class="panel color2-alt">
				<div class="intro color2">
					<h2 class="major">感谢</h2>
					<p> 放飞一只白鸽给你，捎上我的思念，捎上我的祝福，飘向你的心海，飘向你的生活，愿你快快乐乐地面对每个晨钟暮鼓，高高兴兴地面对花开花落。</p>
				</div>
			</section>

			<!-- Copyright -->
			<div class="copyright">&copy; Untitled. Design:
				<a href="https://html5up.net">HTML5 UP</a>.</div>

		</div>

	</div>

{% endblock body %}